# Node
node_modules/
.pnpm-store/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.cursor/

# System
.DS_Store
Thumbs.db

# Temp
dist/
tmp/
temp/

# Coverage / Test
coverage/
*.lcov
/benchmark/profiles/
/tests/autobahn/reports/
/release-artifact/
